<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<link href="stylesheets/props.css" rel="stylesheet" type="text/css">
	<title>Tweeage</title></head>
  <body>
	<div class="prop_list">
	<% @tweet.each_dotted_name do |key| %>	    
		<div class="prop_item">
		<span class="prop_key"><%= key %></span>:	
		<span class="prop_value"><%= @tweet.dotted_value(key) %></span>
		</div>
	<% end %>
	</div>
  </body>
</html>