body {
	font-family:Arial,Helvetica,sans-serif;
}

div.action_list {
	padding:10px;
}

div.action_item {
	padding:1px;
	height:40px;
}

span.action_user_name {
	font-weight: bold;
}


div.incoming_list {
	padding:10px;
}

div.incoming_item {
	padding:1px;
	height:40px;
}

span.incoming_user_name {
	font-weight: bold ;
}

