
div.prop_list {
	margin-left:10px;
}

div.prop_item {
	padding:1px;
}

div.sub_prop_list {
	margin-left:35px;
}

div.sub_prop_item {
	padding:1px;
}

div.sub_sub_prop_list {
	margin-left:60px;
}

div.sub_sub_prop_item {
	padding:1px;
}